{% extends 'base.html' %}

{% block content %}

<h1>About the AQI Project</h1>
<h3 class="aqi_languages">Uses: Python and the Django Framework, HTML5, CSS3</h3>
<p>This is a basic Python and Django project created to provide the Air Quality for a user-provided zip code.</p>
<p>This project is a personal development project, aimed at expanding on my knowledge of Python by utilizing and testing the Django framework to build a simple website.</p>
<p>In addition, the project also utilizes the <a href="https://docs.airnowapi.org/">AirNow API</a> to obtain updated data.</p> 
{% endblock %}